<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container text-center">
      <h1 class="h1 my-3 text-center">Your Password:</h1>
      <h4 class="h4 alert alert-success">{{ password }}</h4>
      <h4 class="h4 my-3 text-center">
        <a href="{% url 'home' %}" class="text-dark">Home</a>
      </h4>
    </div>
  </body>
</html>
